.header{
	padding: 20px;

	&__inner{
		display: flex;
		align-items: center;
	}

	&__link{
		margin: 0 10px;
		&.active{
			color: #de321d;
		}
	}

	&__link_logo{
		width: 30px;
		& img{
			width: 100%;
		}
	}
}
